@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  left: 0;
  right: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  line-height: 1;
  font-family: 'M PLUS 1p', sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1148px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__menu {
  margin-left: 164px;
}

.header__container {
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 159px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 900;
  font-size: 24px;
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.menu__item:not(:last-child) {
  margin: 0 54px 0 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: .80;
  font-size: 1rem;
}

.menu__item:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.menu__link {
  color: white;
}

.header__burger {
  margin-left: 100px;
}

.header__phone {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 1;
  margin-left: 100px;
}

.menu__phone {
  cursor: pointer;
}

.menu__phone img {
  vertical-align: middle;
  padding-right: 18px;
}

.item__phone {
  opacity: 1;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page_main-block {
  position: relative;
  height: 100%;
}

.main-block__container {
  width: 100%;
  height: 100%;
}

.main-block {
  left: 0;
  top: 0;
}

.main-block__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "a c" "b c";
  padding: 220px 0 42px 0;
  position: relative;
  z-index: 2;
  max-width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.main-block__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  color: white;
  font-size: 99px;
  font-weight: 900;
  line-height: calc(118 / 99 * 100%);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.main-block__text span {
  color: #F61067;
}

.main_block__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  color: white;
  line-height: calc(29 / 14.4 * 100%);
  margin-bottom: 44px;
}

.second_block__scroll {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: c;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-line-pack: end;
      align-content: end;
  color: white;
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: 800;
  letter-spacing: 7px;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
  -webkit-font-smoothing: antialiased;
}

._rotate {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

.second_block__scroll__border {
  border-radius: 50px;
  border: 1px solid white;
  margin-top: 42px;
  width: 21px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.second_block__scroll__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  color: white;
}

.main-block__2container {
  position: relative;
  z-index: 2;
  max-width: 1066px;
  margin-left: 14px;
  padding: 0 600px 126px 0;
}

.main-block__border {
  margin-top: 42px;
  border: 2.5px solid rgba(255, 255, 255, 0.25);
  height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__arrow__border {
  margin-left: auto;
  width: 48px;
  height: 48px;
  border: 1px solid white;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  margin-right: 40px;
  -webkit-box-shadow: 1px -1px 0px 200px rgba(255, 255, 255, 0.1) inset;
          box-shadow: 1px -1px 0px 200px rgba(255, 255, 255, 0.1) inset;
  cursor: pointer;
}

.main-block__arrow__border-arrow {
  opacity: 1;
  margin: 0 auto;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-content {
  padding: 150px 0;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  width: 1163px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 1fr;
      grid-template-columns: 0fr 1fr;
}

.page-content__column:not(:last-child) {
  padding-right: 124px;
}

.page-content__body {
  width: 405px;
}

.page-content__body__intro {
  color: #F61067;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 12.6px;
  line-height: calc(26.2 / 12.6 * 100%);
  font-weight: 800;
}

.page-content__body__title {
  padding: 18px 0 23px 0;
  font-size: 45px;
  line-height: calc(66.83 / 45 * 100%);
  font-weight: 500;
  color: #30233D;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.page-content__body__title_text {
  font-size: 18px;
  line-height: calc(29.4 / 18 * 100%);
  font-weight: 800;
  color: #30233D;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
  padding-bottom: 36px;
}

.page-content__body__text {
  font-weight: 400;
  line-height: calc(29 / 18 * 100%);
  color: #776C82;
}

.page-content__body__learnMore {
  margin-top: 16px;
  width: 177.19px;
  height: 45px;
  background-color: #F61067;
  color: white;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: calc(20 / 18 * 100%);
  border-radius: 36px;
  text-transform: uppercase;
}

.page-content__column {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
}

.page-content__image {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.page-content__image img {
  margin-top: 36px;
}

.page-content__bgblock {
  margin-left: auto;
  position: absolute;
  max-width: 396.66px;
  height: 540px;
  background-color: #30124E;
  z-index: -1;
}

.page-content__coverblock {
  position: relative;
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  width: 339.1px;
  height: 504px;
  background-color: #3A0475;
  z-index: 1;
  right: 69px;
  bottom: 26px;
}

.page-content__coverblock__text {
  position: absolute;
  margin-top: -223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 112px;
  max-width: 240px;
  max-height: 100%;
  width: 100%;
  font-family: Noticia Text;
  font-weight: 400;
  font-style: italic;
  font-size: 22.5px;
  line-height: calc(39 / 22.5 * 100%);
  color: white;
}

.page-content__coverblock__text .staples1 {
  font-size: 144px;
  font-style: italic;
  font-weight: 700;
  line-height: calc(216 / 144 * 100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-content__coverblock__text .staples2 {
  font-size: 144px;
  font-style: italic;
  font-weight: 700;
  line-height: calc(216 / 144 * 100%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-content__our {
  background-color: #150433;
  padding: 326px 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.page-content__our__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content__our__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 16px;
  width: 199.46px;
  height: 45px;
  background-color: #F61067;
  color: white;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: calc(20 / 18 * 100%);
  border-radius: 36px;
  text-transform: uppercase;
  cursor: pointer;
}

.page-content__our__block__title {
  margin: 0 auto;
  width: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content__our__title {
  padding: 19px 0;
  line-height: calc(66.83 / 45 * 100%);
  font-weight: 500;
  color: white;
  font-size: 45px;
}

.page-content__our__title_text {
  line-height: calc(30 / 18 * 100%);
  font-weight: 800;
  color: white;
  font-size: 18px;
  text-align: center;
}

.page-content__body {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.page-content__our__block__content {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-content__our__blocks {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin: 30px 0;
  width: 322px;
  color: white;
}



.blocks__img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  padding: 0 0 18px 0;
  width: 73px;
}

.blocks__img:hover {
  transform: translateY(-10px);
  transition: .8s;
}

.blocks__img__border {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  height: 72px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks__img img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 auto;
}

.blocks__Webdesign_title {
  font-size: 18px;
  line-height: calc(26.73 / 18 * 100%);
  font-weight: 500;
  color: #00F0B5;
}

.blocks__text {
  padding: 1.5rem 0 0 0;
  font-size: 0.9rem;
  line-height: calc(26.46 / 16.2 * 100%);
  font-weight: 400;
}

.blocks__Webdev_title {
  font-size: 18px;
  line-height: calc(26.73 / 18 * 100%);
  font-weight: 500;
  color: #F61067;
}

.blocks__Marketing_title {
  font-size: 18px;
  line-height: calc(26.73 / 18 * 100%);
  font-weight: 500;
  color: #F67110;
}

.page-content__testimonials {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FCFCFC;
}

.page-content__faces__container {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.page-content__faces {
  margin: 23px 0 0 0;
  position: absolute;
  width: 100%;
}

.page-content__faces img {
  width: 100%;
}

.page-content__face {
  text-align: center;
  top: -136px;
  margin: 0 0 0 32px;
  position: relative;
}

.page-content__face__as {
  position: absolute;
  bottom: 0;
  margin: -46px auto;
}

.page-content__text {
  margin: 0 auto;
  text-align: center;
  width: 763px;
  font-family: 'Noticia Text';
  font-weight: 400;
  font-size: 36px;
  font-style: italic;
  line-height: calc(63.87 / 36 * 100%);
  color: #30233D;
}

.page-content__text__sub {
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #30233D;
  line-height: calc(29 / 18 * 100%);
  padding-bottom: 149px;
}

.page-content__text__sub span {
  color: #F61067;
  font-weight: 800;
}

.page-content__text__container__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content__text__container__slider__arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 1px solid #F61067;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  color: #F61067;
  -webkit-transition: .2s;
  transition: .2s;
}

.page-content__text__container__slider__arrow-left p {
  margin: 0 auto;
}

.page-content__text__container__slider__arrow-left:hover {
  background-color: #F61067;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.page-content__text__container__slider__arrow-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F61067;
  border-radius: 50px;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  color: #F61067;
  -webkit-transition: .2s;
  transition: .2s;
}

.page-content__text__container__slider__arrow-right p {
  margin: 0 auto;
}

.page-content__text__container__slider__arrow-right:hover {
  background-color: #F61067;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.page-content__newsletter {
  position: relative;
  padding: 81px 0 137px 0;
  max-width: 613px;
}

.page-content__newsletter__title {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  line-height: calc(67 / 45 * 100%);
  color: #30233D;
}

.page-content__newsletter__title__sub {
  padding-top: 23px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(27 / 18 * 100%);
  color: #776C82;
}

.page-content__newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 63px 0 0 0;
  margin: 0 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #F4F4ED;
}

.page-content__email {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 4px;
  line-height: calc(37 / 18 * 100%);
  color: #9B94A3;
}

.page-content__button {
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 6px;
  line-height: calc(26 / 12.2 * 100%);
  color: #F61067;
  width: 226px;
  height: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(242, 242, 242, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.page-content__button p {
  padding: 0 20px 0 28px;
}

.page-content__button__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27px;
  height: 27px;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f6106885;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.page-content__button__arrow svg {
  fill: #F61067;
  margin: 0 auto;
}

.footer {
  background-color: #150433;
  color: white;
  padding-top: 126px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container__logo {
  width: 166px;
  padding-right: 128px;
}

.footer-container__logo a {
  font-size: 24px;
  font-weight: 900;
  line-height: calc(43 / 24 * 100%);
}

.footer-container__logo p {
  padding-top: 25px;
  font-size: 16.2px;
  line-height: calc(43 / 24 * 100%);
}

.footer-container__menu {
  width: 62px;
  padding-right: 64px;
}

.footer-container__menu p {
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #F61067;
  margin-bottom: 27px;
}

.footer-container__services {
  width: 110px;
  padding-right: 86px;
}

.footer-container__services p {
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #F61067;
  margin-bottom: 27px;
}

.footer-container__contact {
  width: 166px;
  padding-right: 128px;
}

.footer-container__contact p {
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #F61067;
  margin-bottom: 27px;
}

.footer-container__follow {
  width: 264px;
}

.footer-container__follow p {
  line-height: calc(26 / 13 * 100%);
  letter-spacing: 6px;
  font-weight: 800;
  font-size: 12.6px;
  border-bottom: 1px solid #F61067;
  margin-bottom: 27px;
}

.footer-container__follow__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.__menu__item {
  font-size: 12.6px;
  font-weight: 700;
  line-height: calc(28 / 13 * 100%);
  color: #FCFCFC;
  letter-spacing: 1px;
}
